<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../static/media/icon.png">
    <title>User</title>
    <style>
     
        th{
            border: 2px black solid;
        }
    </style>
</head>
<body>
    <h1>welcome {{ user.username}} </h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.username}}</td>
                <td>{{ user.email}}</td>
            </tr>
        </tbody>
    </table>
    
    <div class="logout">
        <a href="{% url 'user_out' %}"><button>logout</button></a>
    </div>

    
</body>
</html>